.tooltip {
  position: relative;
  z-index: 3;

  &__text {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  &__text:hover + &__hover {
    opacity: 1;
    margin-top: 10px;
    visibility: visible;
    user-select: auto;
  }

  &__hover {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, 0);
    padding: 3px 16px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transition: all 0.3s;
  }
}
