// color
$color-text: #000;
$color-accent: #f4e041;
$color-accent-hover: #ffe302;
$color-secondary: #00bdd3;
$color-secondary-hover: darken($color-secondary, 10%);
$color-dark: #000;
$color-light: #f3f3f3;
$color-inactive: #80758f;
$color-placeholder: #7e7e7e;
$color-disabled: #b4b4b4;
$color-error: #cb3d40;
// color
// font
$font: 'Nunito';
// font
// text
$text-font-size: 16px;
$text-font-family: $font, sans-serif;
$text-line-height: 1.5;
$text-font-weigth: 400;
// text
// inputs
$input-height: 54px;
$input-padding: 16px;
$input-border-color: #d0cfcf;
$input-border-radius: 4px;
$input-mb: 25px;
$textarea-height: 120px;
// inputs
$btn-height: 34px;
// inputs
// header
$header-height: 60px;
// header
// section
$section-padding: 140px;
// section
// breakpoints
$xxs: 370;
$xs: 480;
$sm: 576;
$md: 767;
$lg: 992;
$xl: 1230;
$xxl: 1360;
$xxxl: 1600;
$xxxxl: 1920;
